.container {
    width: 60%;
    margin-left: 20%;
}

button {
    margin: 20px;
    font-size: 1.6em;
    padding: 0.5em 1.5em 0.5em 1.5em ;
    background-color: rgb(91, 175, 253);
    color: aliceblue;
    border: 0ch;
    border-radius: 1.5em 1.5em 1.5em 1.5em ;
}

.password-input {
    color:rgb(26, 26, 26);
    font-size: 2.6em;
    border: 0ch;
    text-align: center;
}